/* ==== FONTE ==== */

@font-face {
  font-family: 'TIMSans-Bold';
  src: url('./fonts/TIMSans-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TIMSans-Regular';
  src: url('./fonts/TIMSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

/* ======= NORMALIZE ========== */
body {
  margin: 0;
  padding: 0;
}

*, ::before, ::after {
  box-sizing: border-box;
}

a {
  background-color: transparent;
}

img {
  border-style: none;
  touch-action: none;
}

.no-touch {
  touch-action: none;
}

/* ============== ESTILO GERAL DAS DIVS ================ */

/* .div-1 {
  display: flex;
  flex-direction: column;
} */

:root {
  --input-color: var(--default-tim-blue);
  --font-tim-sans-bold: 'TIMSans-Bold', sans-serif;
  --font-tim-sans-regular: 'TIMSans-Regular', sans-serif;
  --default-tim-blue: #003264;
}


.background {
  position: fixed;
  width: 100%;
  background-size: cover;
}

.top {
  background-color: var(--default-tim-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
  z-index: 1; 
}

.logo {
  height: 17%;
  margin-bottom: 3rem;
}

.hide {
  display: none;
}

.card {
  position: fixed;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 85vw;
  border-radius: 1.7rem;
  height: 40vw;
  background-image: url("./img/PNL_CardCentral.png");
  background-position: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  z-index: 1;
}

.card-content {
  position: absolute;
  font-weight: 400;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-content p {
  font-family: var(--font-tim-sans-regular);
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: -2rem;
  margin-right: -2rem;
  color: var(--default-tim-blue);
}

.bottom-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
  bottom: 0;
  left: 0;
  padding-bottom: 0;
  height: 70%;
  z-index: 0;
}

.interact-btn {
  height: 35%;
}

/* Outras classes */


  .bottom-1 {
    background-color: #fff;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    bottom: 0;
    left: 0;
    padding-bottom: 0;
    height: 75vh;
    z-index: 0;
  }

  .btn-bottom-1 {
    display: flex;
    margin-bottom: -3rem;
    margin-top: 15rem;
    justify-content: center;
    margin-left: 1rem;
  }

  .btn-single {
    height: 45%;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .btn-double {
    height: 45%;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .backgound-btn {
    height: 40%;
  }

  .bottom-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 20%;
    bottom: 0;
    left: 0;
    padding-bottom: 0;
    height: 75vh;
    z-index: 0;
  }

  .nickname {
    border: 6px solid #000;
    border-color: var(--input-color);
    border-radius: 1rem;
    background-color: #fff;
    padding: 20px !important;
    height: 3.5rem;
    width: 15rem;
    outline: box-shadow;
    margin-top: 1.5rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    font-family: var(--font-tim-sans-regular);
    color: var(--input-color);
    font-size: 2.0rem;
    font-weight: bold;
    text-align: center;

  }

  .confirm {
    height: 40%;
    margin-top: 4.5rem;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .confirm-2 {
    height: 47%;
    margin-top: 4.5rem;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  }

  .confirm-area {
    height: 50%;
  }

  .backgound-confirm {
    height: 40%;
  }

  .div-4 .top {
    background-color: var(--default-tim-blue);
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20vh;
    align-items: center;
    color: var(--default-tim-blue);
  }

  .div-4 .bottom-4 {
    background-color: #fff;
    height: 75vh;
  } 

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .thankyou {
    font-family: var(--font-tim-sans-regular);
    color: #fff;
    font-weight: 400;
  }

  .logo-final {
    height: 14vw;
  }

  
   /* ==== 2400 X 1080 ==== */



   /* ==== TABLET GRANDE ==== */

   @media (max-width: 1280px) {

    .card {
      width: 40%;
      height: 20%;
    }

    .nickname {
      height: 5.5rem;
      width: 20vw;
      margin-top: -4rem;
      font-size: 3rem;
    }

    .btn-single {
      height: 15vw;
    }

    .btn-double {
      height: 15vw;
    }

    .confirm {
      height: 55%;
      margin-bottom: 4rem;
    }

    .confirm-2{
      height: 55%;
      margin-bottom: 3rem;
      margin-top: -1rem;
    }

    .card-content p {
      font-size: 1rem;
    }

    .thankyou {
        font-size: 1.5rem;
    }
  }

  /* ==== TABLET ==== */

  @media (max-width: 912px) {

    .card {
      width: 60%;
    }

    .nickname {
      height: 10rem;
      width: 55vw;
      margin-top: 2em;
      margin-bottom: 2rem;
      font-size: 5.5rem;
    }
    
    .btn-bottom-1 {
      /* margin-top: 100px; */
      margin-top: 15rem;
    }
  
    .btn-single {
    height: 35vw;
    }

    .btn-double {
      height: 35vw;
    }

    .confirm {
      height: 45%;
      margin-top: 5em;
      margin-bottom: 4rem;
    }

    .confirm-2 {
      height: 55%;
      margin-top: 2em;
      margin-bottom: 8rem;
    }

    .card-content p {
      font-size: 2rem;
    }

    .thankyou {
        font-size: 2.5rem;
    }

    .veja-mais {
        height: 10vh;
    }
  }

  /* ==== iPAD MINI ==== */

  @media (max-width: 768px) {

    .nickname {
      height: 7rem;
      width: 50vw;
      margin-top: 3em;
      font-size: 4rem;
    }

    .confirm {
      height: 50%;
      margin-top: 4em;
      margin-bottom: -6em;
    }

    .btn-bottom-1 {
      margin-top: 15rem;
    }
  }
  

  /* ==== MOBILE ==== */

  @media (max-width: 540px) {

    .card {
      width: 80%;
    }

    .nickname {
      height: 6rem;
      width: 50vw;
      margin-top: 2.5em;
      margin-bottom: 2rem;
      font-size: 3rem;
    }

   
    .btn-single {
    height: 32vw;
    }

    .btn-double {
    height: 32vw;
    }

    .confirm {
      height: 50%;
      margin-bottom: 4rem;
    }

    .card-content p {
      font-size: 1.2rem;
    }

    .thankyou {
        font-size: 1.5rem;
    }

    .veja-mais {
        height: 10vh;
    }
  }

  /* ==== MOBILE MÉDIO ==== */

  @media (max-width: 415px) {
    .nickname {
      height: 6rem;
      width: 65vw;
      margin-top: 4em;
      font-size: 4rem;
    }

    .confirm {
      height: 40%;
      margin-top: 6em;
      margin-bottom: 2em;
    }

    .confirm-2 {
      height: 42%;
      margin-top: 3em;
      margin-bottom: 2em;
    }

    .btn-single {
      height: 50vw;
    }
  
    .btn-double {
      height: 50vw;
    }

    .card-content p {
      font-size: 1.2rem;
    }
  }

  /* ==== MOBILE MINI ==== */

  @media (max-width: 385px) {

    .card {
      width: 80%;
    }

    .nickname {
      height: 4.5rem;
      width: 65vw;
      margin-top: 3.5em;
      font-size: 3rem;
    }

    .btn-single {
    height: 50vw;
    }

    .btn-double {
    height: 50vw;
    }

    .card-content p {
      font-size: 1.2rem;
    }

    .confirm {
      height: 40%;
      margin-top: 5em;
      margin-bottom: 3em;
    }

    .confirm-2 {
      height: 40%;
      margin-top: 2em;
      margin-bottom: 3em;
    }

    .thankyou {
        font-size: 1.2rem;
    }
  }

   /* ==== MOBILE ESPECÍFICO IPHONE SE ====  */

   @media (min-width: 365px) and (max-width: 375px) {
    .nickname {
      height: 5rem;
      width: 55vw;
      margin-top: 2em;
      font-size: 3rem;
    }

    .confirm {
      height: 40%;
      margin-top: 5em;
      margin-bottom: 2em;
    }  

    .confirm-2 {
      height: 50%;
      margin-top: 2em;
      margin-bottom: 5em;
    } 

    .btn-single {
      height: 45vw;
    }

    .btn-double {
      height: 45vw;
    }
  }

 